# Python dependencies
**/site-packages/
**/__pycache__/
*.pyc
*.pyo

# Specific vendored libs committed by mistake
backend/functions/upload_url/urllib3/
backend/functions/upload_url/botocore/
backend/functions/upload_url/boto3/
backend/functions/upload_url/certifi/
backend/functions/upload_url/charset_normalizer/
backend/functions/upload_url/idna/
backend/functions/upload_url/requests/
backend/functions/upload_url/s3transfer/
backend/functions/upload_url/dateutil/

# Node
node_modules/
frontend/node_modules/

# Env
.env
.env.local
*.env
backend/.aws-sam/
**/boto3/
**/boto3-*.dist-info/
**/botocore/
**/botocore-*.dist-info/
**/urllib3/
**/urllib3-*.dist-info/
**/s3transfer/
**/s3transfer-*.dist-info/
**/jmespath/
**/jmespath-*.dist-info/
**/networkx/
**/networkx-*.dist-info/
**/dateutil/
**/python_dateutil-*.dist-info/
**/six.py
**/six-*.dist-info/
**/bin/
**/requirements.txt
template.yamlTAB
